@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'Kayak';
    src: url('../fonts/Kayak_Sans_Regular.otf');
}

@font-face {
    font-family: 'Kayak Bold';
    src: url('../fonts/Kayak_Sans_Bold.otf');
}

:root {
    --light: beige;
    --dark: #20201d;
    --neutral: var(--light);
    --background: var(--dark);

    display: flex;
    height: 100vh;
}

body {
    flex: 1;
    display: flex;
    justify-content: center;
    background: var(--background);
    color: var(--neutral);
    font-size: x-large;
      user-select: none; /* Standard syntax */
}

body:has(.dark) {
    background: #1d1d1d;
    --neutral: beige;    
}

body:has(.light) {
    background: beige;
    --neutral: #1d1d1d;
    --success: #1d1d1d;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.75rem;
}

h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

a {
  color: var(--neutral);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

body > div {
  flex: 1;
  display: flex;
  max-width: 425px;    
}

.wrapper {
  flex: 1;
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.25em;
  font-family: 'Kayak';
}

.about main,
.achievements main,
.error main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievements-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.play {
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item.disabled {
  opacity: 0.3
}

.menu-item > *{
  background-color: #6E6E6E;
  border-radius: 0.5rem;
  padding: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.menu-difficulty {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-difficulty .menu-item > * {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  border: none;
}

.menu-easy > * {
  background-color: #9C9C9C;
}

.menu-medium > *  {
  background-color: #6E6E6E;
}

.menu-hard > *  {
  background-color: #434343;
}

.menu-bonus > *  {
  background-color: #252525;
}

.menu-auxiliary {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.achievements-display {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}

.menu-achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-achievements li {
  opacity: 0.5;
}

.menu-achievements li.active {
  opacity: 1;
  border-bottom: 2px solid;
  padding-bottom: 0.75rem;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--neutral);

    padding-block: 0.5em;
}

.controls > :nth-child(1) {
    justify-self: start;
}

.controls > :nth-child(2) {
    justify-self: center;
}

.controls > :nth-child(3)  {
    display: flex;
    gap: 1em;
    justify-self: end;
    
}

.game.complete .complete {
    color: var(--success);
    scale: 1.5;
    animation: complete 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes complete {
    0% {scale: 1}
    50% {scale: 1.7}
    100% {scale: 1.5}
}

.invert .puzzle .tile:not(.empty) {
    filter: invert(1);
}

.puzzle {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    transition: padding 0.25s ease-out;
}

.puzzle::-webkit-scrollbar {
    display: none;
}

.puzzle > * {
    display: grid;
}

.game.complete .tray {
    animation: close 0.4s;
    animation-timing-function: ease;
    height: 0px;
    overflow: hidden;
}

@keyframes close {
    0% {height: var(--height)}
    100% {height: 0px}
}

.tray .tile.empty {
    scale: 0.25;
}

.board .tile.empty {
    scale: 0.75;
}

.slot {
    aspect-ratio: 1/1;
}

.tile {
    box-sizing: border-box;
    border-radius: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tile.selected {
    scale: 1.125;
}

.tile.locked {
  --locked-color: white;
}

.game:not(.complete) .tile.locked::after {
    font-family: bootstrap-icons;
    content: '\F633';
    padding: 10%;
    font-size: 1.2rem;
    opacity: 0.75;
    color: var(--locked-color); 
}

.tile.empty {
    opacity: 0.5;
    border: 3px solid var(--neutral);
}

.tray .tile.empty {
    background: var(--neutral);
}